.water-card {
    display: flex;
    justify-content: center;
    align-items: center;
}


.water-infos {
    color: var(--text-color);
    position: absolute;
    text-align: center;
}

.water-temperature {
    font-size: 3.2em;
    margin-bottom: -.30em;
}