.dashboard{
    max-width: 1280px;
    width: 100%;
    border-radius: 2.5em;
    background-color: var(--primary-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5em;
}

.grid{
    width: 98%;
    position: relative;
    top:-4em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25em;
}


  /*
  
  .my-custom-content {
    width: 1000px;
  }

  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } */