.meteo-infos-3d {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .8em;
}

.day-infos-3d {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color-light);
}

.day-infos-3d:last-child {
    border-bottom: none;
}

.day-icon-3d {
    width: 2em;
}

.day-date-3d {
    font-size: .8em;
    width: 55%;
}

@media (max-width : 400px) {
    .day-date-3d {
        font-size: 1rem;
    }
}