.background-forcast {
    width: 67.5em; 
    height: 39em;
    display: flex;
    background-color: white;
    border-radius: 1.6em;
    box-shadow: 7px 0 12px rgba(65, 89, 89, 0.3);
    padding: 2em;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
}

.dataCategorie{
    display: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;

}



.flexSpotName {
    display: flex;
}

.spotNameLocalisation {
    height: 20px;
    width: 20px;
    margin-right: 0.5em;

}

.spotName {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.spotNameStars {
    height: 20px;
    width: 20px;
    margin-left: 0.8em;

}

button{
    all: unset;
}

.spotNameShare{
    height: 30px;
    width: 30px;
    margin-left: 0.8em;
}



.spotNameWebcam {
    text-decoration: none;
    color: var(--primary-color-regular);
    margin-left: 28px;
}

.spotNameWebcam:hover {
    text-decoration: underline;
}

.bodyForecastCard {
    margin-top: 1em;
    display: flex;
    flex: 1;
    overflow-y: hidden;
    overflow-x: scroll;
}

.date {
    text-align: center;
    height: 11.7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily-forecast {
    display: flex;
}

.daily-forecast-content {
    height: 100%;
}

.background-visible {
    height: 100%;
}

.minified-background {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.minified-background {
    text-align: center;
}

.background-visible {
    display: flex;
    flex-direction: column;
    border-right: solid 1px var(--primary-color-light);
    border-left: solid 1px var(--primary-color-light);
}

.extendedCard{
    height: 100%;
   }

.background-invisible {
    display: none;
}

.title-minified {
    font-size: 0.85rem;
}

.data-minified {
    font-size: 1.2rem;
    margin: 0.2rem 0;
}

.tide-minified {
    display: flex;
}

.data-minified-tide {
    padding: 0.5rem;
}

.Wind,
.swell{
    height: 19%;
}

.tides,
.energie {
    height: 18.5%;
}

.swell,
.energie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Period {
    height: 11.56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Wind,
.Period {
    background-color: var(--primary-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow {
    color: var(--secondary-color);

}

.tide{
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
}

.tides{
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
}