.meteo-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meteo-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-one-infos,
.day-two-infos,
.day-three-infos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.day-one,
.day-two,
.day-three {
    font-size: 0.5em;
    color: var(--text-color);
}